TestPAWeb/Web References/EventiWS/eventi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://saia.ancitel.it/xmlmanager/ap5" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://saia.ancitel.it/xmlmanager/ap5" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Interrogazioni Anagrafe Roma Capitale</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://saia.ancitel.it/xmlmanager/ap5">
      <s:element name="VariazioniAnagrafiche">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Giorno" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Mese" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Anno" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="CodiceEvento" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ServiceLevel" type="s:unsignedByte" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VariazioniAnagraficheResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VariazioniAnagraficheResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogHeader" type="tns:LogHeader" />
      <s:complexType name="LogHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LogGuid" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VariazioniAnagraficheSoapIn">
    <wsdl:part name="parameters" element="tns:VariazioniAnagrafiche" />
  </wsdl:message>
  <wsdl:message name="VariazioniAnagraficheSoapOut">
    <wsdl:part name="parameters" element="tns:VariazioniAnagraficheResponse" />
  </wsdl:message>
  <wsdl:message name="VariazioniAnagraficheLogHeader">
    <wsdl:part name="LogHeader" element="tns:LogHeader" />
  </wsdl:message>
  <wsdl:portType name="EventiSoap">
    <wsdl:operation name="VariazioniAnagrafiche">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Eventi anagrafici per Giorno e Tipologia Evento</wsdl:documentation>
      <wsdl:input message="tns:VariazioniAnagraficheSoapIn" />
      <wsdl:output message="tns:VariazioniAnagraficheSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EventiSoap" type="tns:EventiSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VariazioniAnagrafiche">
      <soap:operation soapAction="http://saia.ancitel.it/xmlmanager/ap5/VariazioniAnagrafiche" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:VariazioniAnagraficheLogHeader" part="LogHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EventiSoap12" type="tns:EventiSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VariazioniAnagrafiche">
      <soap12:operation soapAction="http://saia.ancitel.it/xmlmanager/ap5/VariazioniAnagrafiche" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:VariazioniAnagraficheLogHeader" part="LogHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Eventi">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Interrogazioni Anagrafe Roma Capitale</wsdl:documentation>
    <wsdl:port name="EventiSoap" binding="tns:EventiSoap">
      <soap:address location="http://localhost/pa/pri/verifiche/eventi.asmx" />
    </wsdl:port>
    <wsdl:port name="EventiSoap12" binding="tns:EventiSoap12">
      <soap12:address location="http://localhost/pa/pri/verifiche/eventi.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>